@font-face {
    font-family: 'BauhausHeavy';
    src: url('./bauhaus-heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BauhausRegular';
    src: url('./bauhaus-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===== BODY ===== */


body{
    font-family: 'BauhausRegular';
    background-color: #FFD83D;
    color: #000;
}

/* ===== HEADER / NAV ===== */


header{
    background-color: #000;
    padding: 15px 0;

}

nav ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

nav a{
    font-family: 'BauhausHeavy';
    color: #FFD83D;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover{
    text-decoration: underline;

}


/* ===== SECCIONES ===== */

section{
    padding: 40px 20px;
}

h2{
    font-family: 'BauhausHeavy';
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

/* ===== CATÁLOGO ===== */


.catalogo-container{
    display: flex;
    flex-wrap: wrap;
}

/* ===== TARJETAS ===== */


.producto-tarjeta {
    width: 280px;
    background-color: #FFFFFF;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    padding: 15px;
    box-shadow: 6px 6px 0 #000;
    transition: transform 0.2s;
}

.producto-tarjeta:hover{
    transform: translate(-4px, -4px);
}

/* ===== IMAGEN ===== */


.producto-img{
    height: 280px;
    width: 100%;
    object-fit: contain;
}

/* ===== TEXTO ===== */


.producto-titulo{
    font-family: 'BauhausHeavy';
    font-size: 20px;
    font-weight: bold;
}

.producto-desc{
    font-size: 15px;
    color: violet;
    height: 30px;
}

.producto-btn{
    background-color: brown;
    color: blanchedalmond;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.producto-btn:hover{
    background-color: rgb(105, 45, 45);
}