@font-face {
    font-family: 'BauhausHeavy';
    src: url('./bauhaus-heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BauhausRegular';
    src: url('./bauhaus-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===== BODY ===== */


body{
    font-family: 'BauhausRegular';
    background-color: #FFD83D;
    color: #000;
}

/* ===== HEADER / NAV ===== */

.top-banner{
    background-color: #E94E77;
    background: linear-gradient(90deg,#E01B6D 0%, #FFD83D 100%);
    padding: 15px 0;
    text-align: center;
    font-family: 'BauhausHeavy';
    font-size: 30px;
}

.top-banner p{
    color: #FFD83D;
}


nav{
    background-color: #000;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    font-family: 'BauhausHeavy';
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
}

nav a{
    font-family: 'BauhausHeavy';
    color: #FFD83D;
    text-decoration: none;
    font-size: 30px;
    transition: .3s;
}

nav a:hover{
    text-decoration: underline;
    color: #c0a32e;

}


/* ===== SECCIONES ===== */

section{
    padding: 40px 20px;
}

h2{
    font-family: 'BauhausHeavy';
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

/* ===== CATÁLOGO ===== */


.catalogo-container{
    display: flex;
    flex-wrap: wrap;
}

#catalogo .catalogo-container {
    margin: 0 auto;
    justify-content: center;
}

/* ===== TARJETAS ===== */


.producto-tarjeta {
    width: 290px;
    background-color: #FFFFFF;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    padding: 15px;
    box-shadow: 6px 6px 0 #000;
    transition: transform 0.2s;
    position: relative;
}

.producto-tarjeta:hover{
    transform: translate(-4px, -4px);
}

/* ===== IMAGEN ===== */


.producto-img{
    height: 280px;
    width: 100%;
    object-fit: contain;
}

/* ===== TEXTO ===== */


.producto-titulo{
    font-family: 'BauhausHeavy';
    font-size: 30px;
    margin: 10px 0;
}

.producto-desc{
    font-family: 'BauhausRegular';
    font-size: 20px;
    color: #2b2b2b;
    margin-bottom: 10px;
}

.producto-precio{
    font-family: 'BauhausHeavy';
    font-size: 25px;
    margin: 10px;
}

/* ===== BOTÓN ===== */


.producto-btn{
    font-family: 'BauhausHeavy';
    background-color: #e94e77;
    color: #FFF;
    border: none;
    padding: 12px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}
.producto-btn:hover{
    background-color: #000;
    color: #FFD83D;
}

/*===== BADGE =====*/

.producto-badge{
    position: absolute;
    background-color: #e01b1b;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
}


/* ===== ENTREGAS ===== */

#entregas{
    font-size: 25px;
}

#entregas p {
    max-width: 900px;
    margin: 20px auto;
    line-height: 1.5;
}

#entregas ul{
    max-width: 900px;
    margin: 0 auto;
    list-style: square;
}

#entregas li{
    font-family: BauhausRegular;
    margin: 10px 0;
}


/* ===== ACERCA =====*/
#acerca p {
    max-width: 900px;
    margin: 15px auto;
    line-height: 1.6;
    font-size: 25px;
}

/* ===== CONTACTO ===== */


.contacto-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #000;
    color: #FFD83D;
    font-size: 25px;
}

.contacto-section h2 {
    font-family: 'BauhausHeavy';
    color: #000;
}

.contacto-section p {
    font-family: 'BauhausRegular';
    padding: 20px 0;
}

.form-contacto {
    background-color: #FFD83D;
    padding: 20px;
    border-radius: 20px;
    color: #000;
    width: 300px;
}

.form-contacto input,
.form-contacto textarea {
    font-family: 'BauhausRegular';
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.form-contacto button {
    font-family: 'BauhausHeavy';
    background-color: #E94E77;
    color: #FFF;
    padding: 12px 18px;
    border-radius: 20px;
    cursor: pointer;
}

.form-contacto button:hover {
    background-color: #000;
    color: #FFD83D;
}

/* ===== FOOTER ===== */
footer {
    font-family: 'BauhausRegular';
    background-color: #000;
    color: #FFD83D;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    font-size: 20px;
}